<h1>Listing slides</h1>

<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Upload</th>
    <th>Link</th>
    <th>Layout</th>
    <th style="width:90px">Actions</th>
  </tr>

<% @slides.each do |slide| %>
  <tr>
    <td><%= link_to slide.title, slide %></td>
    <td><%= slide.content %></td>
    <td><%= slide.upload.name %></td>
    <td><%= link_to slide.link_title, slide.link %></td>
    <td><%= slide.layout %></td>
	<% if user_signed_in? %>
      <td style="text-align: right;">
	  	<%= link_to 'Edit', edit_slide_path(slide), :class => "btn btn-mini" %> 
		<%= link_to 'Delete', slide, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-mini" %>
	  </td>
    </tr>
    <% end %>
	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Slide', new_slide_path, :class => "btn"%>
