<h3 style="margin-top: 25px;">Comments (<%= @comments.count %>)</h3>
<ul class="media-list">
  <%@comments.each do |comment| %>
    <li class="media">
	  <a class="pull-left" href="#">
		  <%= image_tag comment.user.avatar.small.to_s, :class => "media-object img-rounded" if comment.user.avatar?%>
	  </a>
      <div class="media-body">
        
        <div class="media">
			<small><%= comment.user.first_name %> <%= comment.user.last_name if comment.user.last_name? %>: </small>
 		    <br>
			<%= comment.content  %>
			<small class=""> - <%= time_ago_in_words(comment.created_at) %> <%= t "sys.ago" %></small>
			
        </div></div>
    </li>
  <% end %>
</ul>