<h1>Carrinho de compras</h1>
<hr>

<% if @cart_items.length != 0%>

	<% @cart_items.each do |cart_item| %>

			<%= content_tag(:div, :class => 'media') do %>
				<%= content_tag(:a, :href => item_path(cart_item.item), :class => 'pull-left') do %>
					<%= image_tag cart_item.item.cover.small.to_s, :class => "media-object img-polaroid", :style => "margin-bottom: 5px;" %>
				<% end %>
			  	<%= content_tag(:div, :class => 'media-body') do %>
					<%= content_tag(:div, :class => 'row') do %>
						<%= content_tag(:div, :class => 'span5') do %>
							<%= content_tag(:h4, :class => 'media-heading') do cart_item.item.name end %>
							<%= content_tag(:p) do cart_item.item.short_description end %>
						<% end %>
						<%= content_tag(:div, :class => 'span3') do %>
							<%= content_tag(:h5, :class => 'pull-right') do  %>
								<%= content_tag(:span, :class => 'btn-group') do %>
									<%= link_to( 'remove_from_cart/' + cart_item.id.to_s , data: { confirm: t('sys.are_you_sure') }, :class => 'btn btn-mini') do %>
										<i class="icon-remove"></i>
									<% end %>
								<% end %>
								<%= content_tag(:span, :class => 'btn-group') do %>
									<%= link_to 'add_quantity_from_cart_item/' + cart_item.id.to_s, :class => 'btn btn-mini' do %>
										<i class="icon-chevron-up"></i>
									<% end %>
									<%= link_to '', :class => 'btn btn-mini disabled' do %>
										<%= cart_item.quantity %>
									<% end %>
									<% if cart_item.quantity > 1%>
										<%= link_to 'subtract_quantity_from_cart_item/' + cart_item.id.to_s, :class => 'btn btn-mini' do %>
											<i class="icon-chevron-down"></i>
										<% end %>
									<% else %>
										<%= link_to 'subtract_quantity_from_cart_item/' + cart_item.id.to_s, :class => 'btn btn-mini disabled' do %>
											<i class="icon-chevron-down"></i>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						<% end %>
						<%= content_tag(:div, :class => 'span3') do %>
							<%= content_tag_for(:h5, cart_item.item, :class => 'pull-right') do |item| %>
								<% if item.currency == "Real" %>
									R$ <%= item.human_price %>
								
								<% end %>
								<% if item.currency == "Dollar" %>
									US$ <%= item.human_price %>
								
								<% end %>
							<% end %>
						<% end %>
					<% end %>
			  	<% end %>
			<% end %>
		<% end %>
	
		<%= content_tag(:div, :class => 'media') do %>
			<%= content_tag(:div, :class => 'pull-left', :style => 'width: 60px;height: 60px;') do end%>
			<%= content_tag(:div, :class => 'media-body') do %>
				<%= content_tag(:div, :class => 'row') do %>
					<%= content_tag(:div, :class => 'span5') do %>
						<%= content_tag(:h4) do %>
							Shipping:
						<% end %>
					<% end %>
					<%= content_tag(:div, :class => 'span3') do %>
						<%= content_tag(:h4) do %>
							<% if @shopping_cart.location %>
								<%= content_tag(:p) do %>
									<%= content_tag(:span, :class => 'btn-group pull-right') do %>
										<%= link_to @shopping_cart.location.address, '', :class => 'btn btn-mini disabled' %>
										<%= link_to create_location_path, :class => 'btn btn-mini' do %>
											<i class="icon-pencil"></i>
										<% end %>
									<% end %>
								<% end %>
							<% else %>
								<%= content_tag(:span, :class => 'btn-group pull-right') do %>
									<%= link_to 'Adicionar Endereço', create_location_path, :class => 'btn btn-mini' %>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<%= content_tag(:div, :class => 'span3') do %>
						<%= content_tag(:h4, :class => 'pull-right') do %>
							<% if @shopping_cart.shipping_cost %>
								<% if @shopping_cart.shipping_currency == "Real" %>
									R$ <%= @shopping_cart.shipping_cost %>
									
								<% end %>
								<% if @shopping_cart.shipping_currency == "Dollar" %>
									US$ <%= @shopping_cart.shipping_cost %>
								
								<% end %>
							<% else %>
								R$ 0
							<% end %>
						<% end %>
					<% end %>					
				<% end %>
			<% end %>
		<% end %>
	
		<%= content_tag(:div, :class => 'media') do %>
			<%= content_tag(:div, :class => 'pull-left', :style => 'width: 60px;height: 60px;') do end%>
				<%= content_tag(:div, :class => 'media-body') do %>
					<%= content_tag(:div, :class => 'row') do %>
						<%= content_tag(:div, :class => 'span5') do %>
							<%= content_tag(:h4) do %>
								Total:
							<% end %>
						<% end %>
						<%= content_tag(:div, :class => 'span3') do %>
							<%= content_tag(:h4) do %>
								<% if @shopping_cart.payment_method != nil %>
									<%= content_tag(:span, :class => 'btn-group pull-right') do %>
										<% if (@shopping_cart.payment_method == 'deposito') then method = 'Deposito em conta bancaria' end%>
										<% if (@shopping_cart.payment_method == 'paypal') then method = 'PayPal' end%>
										<%= link_to method, '', :class => 'btn btn-mini disabled' %>
										<%= link_to select_payment_method_path, :class => 'btn btn-mini' do %>
											<i class="icon-pencil"></i>
										<% end %>
									<% end %>
								
								<% else %>
									<%= link_to select_payment_method_path, :class => 'btn btn-mini pull-right' do 'Formas de pagamento' end %>
								<% end %>
							<% end %>
						<% end %>
						<%= content_tag(:div, :class => 'span3') do %>
							<%= content_tag(:span, :class => 'pull-right') do %>
								<%= content_tag(:h4, :style => 'text-align: right;') do %>
									R$ <%= @total %>
									<br>
									<% if @cart_items.length != 0 %>
										<%= link_to "Checkout", checkout_path, :class => "btn btn-success", :style => 'margin-top: 8px; float:right' %>
									<% end %>	
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
	<% end %>
<% else %>
	<%= content_tag(:div, :style => 'border: 1px dashed gray; border-radius: 5px; height: 140px; text-align: center; padding-top: 75px;') do %>
		<%= content_tag(:h5) do 'Nenhum produto no carrinho' end %>
		<%= link_to "Ver produtos", loja_path, :class => "btn" %>
	<% end %>
<% end %>


