<h1>Historico de compras</h1>
<hr>

<% @shopping_carts.each do |cart| %>
	<% if cart.status != 'open' %>
			
		<%= content_tag(:div, :class => 'row') do %>
		
			<%= content_tag(:div, :class => 'span7') do %>
				<%= content_tag(:h4) do %>
					<a href="#" class="accordion-toggle" data-toggle="collapse" data-target="#cart_<%= cart.id %>"><%= ' Compra #' + cart.id.to_s %></a>
				<% end %>
			<% end %>
			
			<%= content_tag(:div, :class => 'span3') do %>
				<%= content_tag(:div, :class => 'pull-right') do %>
					<%= content_tag(:span, :class => 'small') do %>
						<%= time_ago_in_words(cart.created_at) %>
					<% end %>
				<% end %>
			<% end %>
			
			<%= content_tag(:div, :class => 'span2') do %>
				<%= content_tag(:div, :class => 'pull-right') do %>
					<% if cart.status == 'shipping'%>
						<%= content_tag(:span, :class => 'label label-warning') do %>
							<%=  'Enviando' %>
						<% end %>
					<% end %>
					<% if cart.status == 'closed'%>
						<%= content_tag(:span, :class => 'label label-success') do %>
							<%=  'Fechado' %>
						<% end %>
					<% end %>
					<% if cart.status == 'canceled'%>
						<%= content_tag(:span, :class => 'label label-important') do %>
							<%=  'Cancelada' %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
			
		<% end %>
		
		<%= content_tag(:div, :class => 'collapse', :id => 'cart_' + cart.id.to_s) do %>
			<%= render 'shopping_carts/cart_item_history_view', cart: cart %>
			<hr>
		<% end %>
			
	<% end %>
<% end %>	