<%= markdown(@page.content)  %>

<hr>
<% render 'layouts/company_team' %>

<ul class="ch-grid">
	<% @members.each do |member| %>
    <li>
        <div class="ch-item ch-img center-container" style="background-image: url( <%= member.user.avatar.to_s if member.user.avatar? %>);">
            <div class="ch-info">
                <p>
					<a class="no-underline" href="#" style="color: white;"><i class="icon-envelope icon-white"></i></a>
					<a class="no-underline" href="#" style="color: white;"><i class="icon-link"></i></a>
					<br> 
					<a class="no-underline" href="#" style="color: white;"><i class="icon-facebook-sign"></i></a>
					<a class="no-underline" href="#" style="color: white;"><i class="icon-linkedin-sign"></i></a>
					<a class="no-underline" href="#" style="color: white;"><i class="icon-youtube-sign"></i></a>
					<br>
					<a class="no-underline" href="#" style="color: white; margin-left: -8px;"><i class="icon-skype"></i></a>
					<a class="no-underline" href="#" style="color: white;"><i class="icon-twitter-sign"></i></a>
					<a class="no-underline" href="#" style="color: white;"><i class="icon-github"></i></a>
					
				</p>
            </div>
        </div>
	   <h4 style="text-align: center;"><%= member.user.first_name %> <%= member.user.last_name %></h4>
	   <p style="text-align: center; margin-top: -10px;"><%= member.position %></p>
    </li>
	<% end %>
</ul>