<% if @search %>
  <h1><%= t ".results_for" %> <%= @search %></h1>
<% else %>
  <h1><%= t ".listing_pages" %></h1>
<% end %>

<table class="table table-bordered">
  <tr>
    <th><%= t "sys.title" %></th>
    <th><%= t "sys.slug" %></th>
    <th><%= t "sys.content" %></th>
	<th><i class="icon-comment"></i></th>
    <% if user_signed_in? %>
	  <th style="width: 90px;"><%= t "sys.actions" %></th>
	<% end %>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= link_to page.name, nested_page_path(page) %></td>
    <td><%= truncate( page.slug, :length => 22, :omission => '...') %></td>
    <td><%= truncate( strip_tags(page.content), :length => 60, :omission => '...') %></td>
	<td><%= page.comments.count %></td>
	<% if user_signed_in? %>
      <td style="text-align: right;">
		<div class="btn-group">
	  	  <%= link_to t('sys.edit'), nested_page_path(page) + '/edit', :class => "btn btn-mini" %> 
		  <%= link_to t('sys.delete'), page, method: :delete, data: { confirm: t('sys.are_you_sure') }, :class => "btn btn-danger btn-mini" %>
		</div>
	  </td>
    </tr>
    <% end %>
<% end %>
</table>
