<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @project.slug %>
</p>

<p>
  <b>Short description:</b>
  <%= @project.short_description %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Visibility:</b>
  <%= @project.visibility %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Cover:</b>
  <%= image_tag @project.cover.thumb.to_s %>
</p>

<p>
  <b>User:</b>
  <%= @project.user_id %>
</p>

<%= link_to 'New Task list', new_task_list_path(:project => @project.id), :class => "btn" %>

<hr>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
