<%= simple_form_for(@support_message, :html => {:class => "pull-right"}) do |f| %>


  <div class="form-inputs">
	<% if user_signed_in? == false %>
    	<%= f.input :email, :input_html => { :class => "input-xlarge", :placeholder => "Email"}, :label => false,  :autofocus => true  %>
    <% end %>
	<%= f.input :title, :input_html => { :class => "input-xlarge", :placeholder => "Titulo"}, :label => false, :autofocus => true %>
    <%= f.input :message, :input_html => { :class => "input-xlarge", :placeholder => "Mensagem", :rows => "4"}, :label => false %>
	<%= f.button :submit, t("sys.send"), :class => "btn pull-right" %>
  </div>


	

<% end %>
