<%= simple_form_for(@asset) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.association :item  %>
    <%= f.association :user %>
	<%= f.input :quantity %>
    <%= f.input :location %>
	<%= f.input :delivered %>
	<%= f.input :tracking_code %>
	<%= f.input :note %>
	
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
