<h1>Listing assets</h1>

<table class="table table-bordered">
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Owner</th>
    <th>Location</th>
	<th>note</th>
    <% if user_signed_in? %>
	  <th style="width: 90px;"><%= t "sys.actions" %></th>
	<% end %>
  </tr>

<% @assets.each do |asset| %>
  <tr>
	<td><%= link_to asset.item.name, item_path(asset.item)%></td>
    <td><%= asset.item.category %></td> 
    <td><%= asset.user.first_name %> <%= asset.user.last_name %></td>
    <td><%= asset.location %></td>
	<td><%= asset.note %></td>
    <td style="text-align: right;">
		<div class="btn-group">
    		<%= link_to 'Show', asset, :class => "btn btn-mini" %>
    		<%= link_to 'Edit', edit_asset_path(asset), :class => "btn btn-mini" %>
    		<%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %>
		</div>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Asset', new_asset_path, :class => "btn" %>
