<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @asset.asset_type %>
</p>

<p>
  <b>Item:</b>
  <%= @asset.item_id %>
</p>

<p>
  <b>Owner:</b>
  <%= @asset.owner %>
</p>

<p>
  <b>Location:</b>
  <%= @asset.location %>
</p>


<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
