<h1>Listing items</h1>
<hr>
<ul class="thumbnails">
<% @items.each do |item| %>
  <li class="span2 thumbnail" style="padding: 0px; margin-left: 28px">
    <a href="<%=item_path(item) %>" class="">
     <%=  image_tag item.cover.cover.to_s, :style => "border-bottom: 1px solid #ddd" if item.cover? %>
    </a>
	<div style="padding-left: 5px; padding-right: 5px; padding-bottom:0px; padding-top: 0px; border-bottom: 1px solid #ddd; height: 10em;">
		<h4><%= link_to item.name, item %></h4>
		<p style="margin-bottom: 0px;"><%= item.short_description %></p>
	</div>
	<div style="padding-left: 5px; padding-right: 5px; padding-bottom:0px; padding-top: 5px;">
		<small class="pull-left" style="margin-bottom: 2px;">
			<% if item.assets.count > 0 %>
				<% total = 0 %>
				<% item.assets.each do |asset| %>
					<% total = total.to_i + asset.quantity.to_i  %>
				<% end %>
				<%= total %>x
			<% end %>
		</small>
		<p class="pull-right" style="margin-bottom: 2px;"><b>
			<% if item.currency == "Real" %>
				R$ <%= item.human_price %>
			<% end %>
			<% if item.currency == "Dollar" %>
				US$ <%= item.human_price %>
			<% end %>
		</b></p>
	</div>
  </li>
<% end %>
</ul>