<%= simple_form_for(@post, :html => {:class => 'form-inline well', :multipart => true }) do |f| %>
<fieldset>
<legend><%= @form_title %></legend>
  
  <%= f.error_notification %>
  <div class="form-inputs">
	  
	  <div class="row">
		  <div class="span3">
			  <div class="fileupload fileupload-new" data-provides="fileupload" style="margin-top: 5px;">
			    <div class="fileupload-preview thumbnail " style="width: 100%; height: 100%; min-height: 272px; background-color: white"><%=  image_tag @post.cover.cover.to_s if @post.cover? %></div>
				<div style="margin-bottom: 7px">
			      <span class="btn btn-mini btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><%= f.file_field :cover %></span>
			      <a href="#" class="btn fileupload-exists btn-mini" data-dismiss="fileupload">Remove</a>
			    </div>
			    
   			   
			  </div>
		  </div>
		  <div class="span8">
			  <div class="row">
		  <div class="span4">
			  <%= f.input :title, :input_html => { :class => "span4"} %> 
		  </div>
		  <div class="span2">
	  		<%= f.input :slug, :input_html => { :class => "span2"} %>
		  </div>
		  <div class="span5">
			  <div class="control-group string required">
			  <label class="string optional control-label" for="Tags">Tags</label>
			  <div class="controls">
			    <input class="tagManager span2" data-provide="typehead" data-items=4 type="text">
		  	  </div>
		  </div>
	  </div>
		  <div class="span8">
			  <%= f.input :short_text, as: :text, :input_html => { :rows => '6', :style => 'width: 105%'} %> 
		  </div>
	  </div>
	  </div>
  </div>
  </div>
  
  <%= f.input :content, as: :text,:label => false, :input_html => {:rows => '18', :style => 'width: 98.8%' } %>
  

  
  <%= f.error :base %>
  <div class="form-actions" style="margin-bottom: 0px">
	  <%= f.button :submit, :class => 'btn-success' %>
  	  <%= link_to 'Back', pages_path, :class => 'btn' %>
  	  <% if @post.id %>
  	    <%= link_to 'Show', @post, :class => "btn" %>
  	  <% end %>
</div>
  </fieldset>
<% end %>