<%= simple_form_for(@post, :html => {:class => 'form-inline well' }) do |f| %>
  <fieldset>
  <%= f.error_notification %>
  <div class="control-group string optional">
	  Title: <%= f.input :title,  wrapper: 'inline', label: false %> 
	  Slug: <%= f.input :slug, wrapper: 'inline', label: false %>
  </div>
  <%= f.input :content, as: :text,:label => false, :input_html => {:rows => '18', :style => 'width: 98.8%' } %>
  <input class="tagManager" data-provide="typehead" data-items=4>
  <%= f.error :base %>
  <div class="form-actions">
	  <%= f.button :submit, :class => 'btn-success' %>
  	  <%= link_to 'Back', pages_path, :class => 'btn' %>
</div>
  </fieldset>
<% end %>