<h1>High Effects Blog</h1>

<% @posts.each do |post| %>

<div class="media">

  <div class="media-body">
    <h3 class="media-heading"><%= link_to post.title, post %></h3>
    
	
    
    <!-- Nested media object -->
    <div class="media">
      <p><%= truncate( strip_tags(post.content), :length => 250, :omission => '...') %></p>
      <p><% if post.tags %> Tags: 
        <% post.tags.each do |tag| %>
           <span class="badge"><%= link_to tag.name, {:controller => 'tags', :action => 'show', :id => tag.name }, :style => "color: white;" %></span> 
        <% end %> |
      <% end %>
      <%= t "sys.created" %> <%= time_ago_in_words(post.created_at) %> <%= t "sys.ago" %> |
      <% if post.comments.count != 0%>
        <%= t "sys.comments" %>: <%= post.comments.count %> |
      <% end %>
  	<%= t "sys.by" %> <%= post.user.first_name %> <%= post.user.last_name if post.user.last_name? %></p>
      
	  
    </div>
  </div>
</div>
<% end %>