<h1 style="text-align: center;"><%= image_tag("HighEffects-Blog-Logo.png") %></h1>
<hr style="margin-top: 15px;">
<% counter = 0 %>

<% @posts.each do |post| %>
<% if counter == 0 %>
	<div class="row">
<% end %>
<div class="span3">
<div class="media">

  <div class="media-body">
    
    <!-- Nested media object -->
    <div class="media">
	  <a href="<%= post_path(post) %>" class="pull-left">
	    <%= image_tag post.cover.cover.to_s, :class => "media-object img-polaroid", :style => "margin-bottom: 5px;" %>
	  </a>
	  <h3 class="media-heading" style="line-height: 30px;"><%= link_to post.title, post %></h3>
      <p><%= truncate( strip_tags(post.short_text), :length => 150, :omission => '') %></p>

      
	  
    </div>
  </div>
</div>
</div>
<% counter = counter + 1 %>
<% if counter == 4 %>
	</div>
	<% counter = 0 %>
<% end %>
<% end %>
</div>
