<p><%= t("pass-reset.welcome")%> <%= @resource.first_name %> <%= @resource.last_name %>!</p>
<p><%= t("pass-reset.message")%></p>
<p><%= link_to t("pass-reset.link"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :protocol => "http") %></p>
<br>
<p><%= t("pass-reset.disclaimer")%></p>
<p><%= t("pass-reset.rules")%></p>