<%= simple_form_for(@upload, :html => {:multipart => true, :class => 'form-inline well'})  do |f| %>
  <%= f.error_notification %>
  <fieldset>
	<legend><%= @form_title %></legend>
  <div class="form-inputs">
	  <div class="row">
		  <div class="span8">
			<div class="row">
		  	   <div class="span3">
    		  	  <%= f.input :name, :input_html => { :class => "span3"} %>
		  	   </div>
			   <div class="span5">
			   
				   <div class="control-group string optional">
					   <label class="string optional control-label" for="Tags">Tags</label>
					   <div class="controls"><input class="string optional tagManager span2" data-provide="typehead" data-items=4 type="text"></div>
				   </div>
			   </div>
	  	       <div class="span8">
	      		 <%= f.input :legend, :input_html => { :rows => "4", :class => "span8"} %>
	  	  	  </div>
			</div>
	 	  </div>
   		  <div class="span3">
   			  <div class="fileupload fileupload-new" data-provides="fileupload">
 			    <div style="margin-bottom: 7px">
 			      <span class="btn btn-mini btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input name="upload[file]" type="file" /></span>
 			      <a href="#" class="btn fileupload-exists btn-mini" data-dismiss="fileupload">Remove</a>
 			    </div>
			    <div class="fileupload-preview thumbnail " style="width: 100%; height: 140px; background-color: white"><%= image_tag @upload.file.to_s if @upload.file? %></div>
   			   
   			  </div>
   		 </div>
	  </div>
		 
  </div>

  <div class="form-actions" style="margin-bottom: 0px">
    <%= f.button :submit, :class => "btn btn-success" %>
	<%= link_to 'Back', uploads_path, :class => "btn" %>
	<% if @upload.id %>
	  <%= link_to 'Show', @upload, :class => "btn" %>
	<% end %>
  </div>
<% end %>


