<div style="text-align: center;">
<h3>Equipe</h3>
<p style="margin-top: -15px;">Membros do HE Lab</p>
</div>

<ul class="ch-grid">
	<% @members.each do |member| %>
    <li>
        <div class="ch-item ch-img center-container" style="background-image: url( <%= member.user.avatar.to_s if member.user.avatar? %>);">
            <div class="ch-info">
                <p>
					<a class="no-underline" href="mailto:<%= member.user.email %>" style="color: white;"><i class="icon-envelope icon-white"></i></a>
					<% if member.user.website %>
						<a class="no-underline" href="<%= member.user.website %>" style="color: white;"><i class="icon-link"></i></a>
					<% end %>
					<% if member.user.facebook %>
						<a class="no-underline" href="<%= member.user.facebook %>" style="color: white;"><i class="icon-facebook-sign"></i></a>
					<% end %>
					<% if member.user.github %>
						<a class="no-underline" href="<%= member.user.github %>" style="color: white;"><i class="icon-github"></i></a>
					<% end %>
					<% if member.user.linkedin %>
						<a class="no-underline" href="<%= member.user.linkedin %>" style="color: white;"><i class="icon-linkedin-sign"></i></a>
					<% end %>
					<!--
					<a class="no-underline" href="#" style="color: white;"><i class="icon-youtube-sign"></i></a>
					<br>
					<a class="no-underline" href="#" style="color: white; margin-left: -8px;"><i class="icon-skype"></i></a>
					<a class="no-underline" href="#" style="color: white;"><i class="icon-twitter-sign"></i></a>
					-->
				</p>
            </div>
        </div>
	   <h4 style="text-align: center;"><%= member.user.first_name %> <%= member.user.last_name %></h4>
	   <p style="text-align: center; margin-top: -10px;"><%= member.position %></p>
    </li>
	<% end %>
</ul>
