<ul class="nav">
  
  <% if params[:controller] == 'pages' %>
    <li class="active"><%= link_to "lab", {:controller => '/pages', :action => 'index'}  %></li>
  <% else %>
	<li><%= link_to "lab", {:controller => '/pages', :action => 'index'}  %></li>
  <%end%>
  
  <% if params[:controller] == 'posts' %>
    <li class="active"><%= link_to "blog", posts_path  %></li>
  <% else %>
     <li><%= link_to "blog", posts_path  %></li>
  <%end%>
  
  <% if user_signed_in? %>
	  <% if params[:controller] == 'uploads' %>
	    <li class="active"><%= link_to "files", uploads_path  %></li>
	  <% else %>
	    <li><%= link_to "files", uploads_path  %></li>
	  <% end %>
	   <li><%= link_to "projetos", projects_path  %></li>
   <% end %>
   
  
   
   <li><%= link_to "contato", contato_path  %></li>

</ul>