<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hisys" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
	
	<%= stylesheet_link_tag "superslides", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
	
    <style>
      .bg-image {
	      background-size: cover;
      }
      @font-face {
      font-family: 'AkzidenzGrotesk-ExtraBoldCond';
      src: url('<%= asset_path('AkzidenzGrotesk-ExtraBoldCond.otf') %>');
      src: local('AkzidenzGrotesk'), url('<%= asset_path('AkzidenzGrotesk-ExtraBoldCond.otf') %>'); format('otf'),
      }
      .header-text {
	     color: #E7E7E7;
		 font-size: 18px;
		 font-weight: 200;
		 line-height: 24px;
		 margin-left: 3px;
      }
      .slides-pagination a.active {
	     background: #C5C5C5;
	  }
	  .slides-pagination a {
		border: 2px solid #C5C5C5;
		border-radius: 15px;
		width: 10px;
		height: 10px;
		display: inline-block;
		margin: 2px;
	 }
	 a:hover {
		cursor: pointer;
	 }
	 .slide-link {
		 text-transform: uppercase;
		 color: white;
		 text-decoration: none;
	 }
	 .ui-sortable-helper {
		 border-bottom: 1px solid #DDDDDD;
		 
		 box-shadow: 0px 1px 2px 0px #393939;
		 background-color: white;
	 }
	 
	 .ui-sortable-placeholder {
	 	border-left: 1px solid #DDDDDD;
		height: 58px;
		visibility: visible;
	 }
	 .handle {
	   cursor: move;
	 }
   </style>
	
   <%= render 'layouts/analytics' %>
	
  </head>
  <body>

    <div class="navbar navbar-fluid navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
		  <%= render 'layouts/logo' %>
          <div class="row-fluid nav-collapse">
            <%= render 'layouts/nav_links' %>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
				     <% if params[:action] == "list" %>
				  		<li><a href="<%= new_slide_path %>"><i class="icon-plus"></i></a></li>
				     <% else %>
					    <li><a href="<%= slides_list_path %>"><i class="icon-wrench"></i></a></li>
				     <% end %>
					 <li class="divider-vertical"></li>
				<% end %>
				<%= render 'layouts/search' %>
				<li class="divider-vertical"></li>
				<%= render 'layouts/user_menu' %>
			</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <%= yield %>
    

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "jquery.superslides.min" %>
	<%= javascript_include_tag "jquery.easing.1.3" %>
	
	<script>
		$(document).ready(function() {
		  $('#slides').superslides({
		    play: true,
		    slide_speed: 550,
	        delay: 9000,
		    slide_easing: 'easeOutSine',
		    nav_class: 'slides-navigation',
		    container_class: 'slides-container',
		    pagination: true,
		    hashchange: false,
		  });
		});
	</script>
	
	<script type="text/javascript">
	    mixpanel.track("Landing Page Loaded")
	</script>
	
  </body>
</html>
